<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{L('member','','member').L('manage_center')}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}account_manage.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}jquery.validate.zh.min.js"></script>

    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}common.js"></script>
</head>
{template "member","banner"}
<!-- 修改密码 -->
<div id="content" style="margin-top: 50px;">
  <div class="content_detail">
    <form accept-charset="UTF-8"   id="aspnetForm" action="" method="post" novalidate="novalidate">
      <div class="common_panel">
        <div class="panel_header">修改登录密码 </div>
        <div class="panel_content">
            <table class="common_form">
              <tbody>
               
                <tr>
                  <td class="label">{L('old_password')}</td>
                  <td class="item">
                  	<input name="info[password]"  class="textbox" type="password" id="old_password" size="30" value="" >

                  <td class="info"></td>
                </tr>
                <tr>
                  <td class="label">修改登录密码</td>
                  <td class="item">
						<input name="info[newpassword]" type="password" id="password" size="30" value=""  class="textbox">
 
                  <td class="info"></td>
                </tr>
                <tr>
                  <td class="label">确认修改登录密码</td>
                  <td class="item"><input class="textbox" id="password_confirmation" name="info[renewpassword]" type="password"></td>
                  <td class="info"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel_footer">
            <div class="submit_button">
            	<input name="dosubmit" type="hidden"  value="{L('submit')}" />
              <a href="#this" id="submit">提交</a>
            </div>
        </div>
      </div>
    </form>
   <script type="text/javascript">
      $(function () {
        $("a#submit").click(function () {
          $(this).closest("form").submit();
          return false;
        });

        $("form:first").validate({
          rules: {
            "info[password]": {
              required: true
            },
            "info[newpassword]": {
              required: true,
              rangelength: [6, 32]
            },
            "info[renewpassword]": {
              required: true,
              rangelength: [6, 32],
              equalTo: "#password"
            }
          }
        });
      });
    </script>
    
  </div>
</div>


{template 'member', 'footer'}