    <!-- /服务流程 -->
    <!-- 底部 -->
    <footer>
        <div class="con">
            <ul>
                 <li class="l1">
                    <p style=" padding-bottom: 1px;">关注我们</p>
                    <a href="javascript:void()"><img src="{IMG_PATH}weixin.jpg" width="150px"  /></a>
                </li>
                <li class="l2">
                    <p>联系我们</p>
                    <span class="p-li-first">CONTACT US</span>
                    <p class="p-li"><img src="{IMG_PATH}2_s35q.png" alt="" /><span>联系电话：18042697298</span></p>
                    <p class="p-li"><img src="{IMG_PATH}1_i9qh.png" alt="" /><span>企业邮箱：30177219@qq.com</span></p>
                    <p class="p-li"><img src="{IMG_PATH}4_dysi.png" alt="" /><span>公司地址：大阪府泉南市樽井1-11-5</span></p>
                </li>
                <li class="l3">
                    <p>较新资讯</p>
                    <span class="p-li-first">THE LATEST INFORMATION</span>
                    {$footlist = getcache('category_content_1','commons')}
                    {$idx=0}
                    {loop $footlist $cate}
                    {if $cate['ismenu']=='1' && $cate['parentid']=='6' && $idx<4}
                    {$idx=$idx+1}
                    <p class="p-li"><span><a href="{$cate['url']}">{$cate['catname']}</a></span></p>
                    {/if}
                    {/loop}
                </li>
            </ul>
        </div>
        <div class="footer-bottom">© {$smarty.now|date_format:"%Y"} 橙子家海外物流转运&nbsp;辽ICP备18017411号-1</div>
    </footer>
    <!-- /底部 -->


    <script type="text/javascript" src="{JS_PATH}shutter.js"></script>
    <script type="text/javascript" src="{JS_PATH}velocity.js"></script>
    <script>
        $(function () {
            // $(window).resize(function(){
                  $('.shutter').shutter({
                    shutterW: $(window).width(), // 容器宽度
                    shutterH: 954, // 容器高度
                    isAutoPlay: true, // 是否自动播放
                    playInterval: 3000, // 自动播放时间
                    curDisplay: 3, // 当前显示页
                    fullPage: false // 是否全屏展示
                  });
              // });
        });
    </script>
    <script>
        $(document).ready(function(){
            $(".con_ul li").mouseenter(function(){
                $(this).addClass("active").siblings().removeClass("active");
            }).mouseout(function() {
                $(".active-jq").addClass("active ").siblings().removeClass("active");
            });
            $(".con_ul li").click(function(){
                $(this).addClass("active-jq").siblings().removeClass("active-jq");
            });
        });



        if (window.navigator.userAgent.indexOf("MSIE")>=1) {
          }else{
                $(function(){
                  var wow = new WOW({
                      boxClass: 'wow',
                      animateClass: 'animated',
                      offset: 0,
                      mobile: true,
                      live: true
                  });
                  wow.init();
                })
        }
    </script>


</body>
</html>