<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{L('member','','member').L('manage_center')}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}goods_detail.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}jquery.validate.zh.min.js"></script>
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="container">
            <div class="con_top">
                <p>
                    <span>欢迎来到橙子家！</span>
                    <img src="{IMG_PATH}w_erwu.png" alt="">
                    <span>400-000-000</span>
                    <img src="{IMG_PATH}1_i9qh.png" alt="">
                    <span>xx@163.com</span>
                    <span><a href="#">注册</a></span>/<span><a href="#">登录</a></span>
                </p>
            </div>
            <div class="con_center">
                    <img class="wow fadeInLeft" src="{IMG_PATH}logo.ico" alt="" style="width: 5%;">
                    <div class="wow fadeInLeft">
                        <p>橙子家海外物流转运</p>
                        <p>The Orange</p>
                    </div>
                    <ul id="navBar" class="con_ul wow fadeInRight">
                        <li class="active active-jq"><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">我的转运</a></li>
                        <li><a href="#">产品与服务</a></li>
                        <li><a href="#">会员计划</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
            </div>
        </div>
    </header>
    <!-- /头部 -->

<!-- 查看快递信息 -->
<div id="content" style="margin-top: 50px;">
  <div class="content_detail">
    <div class="header_intro_panel">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="label">入库仓库：</div>
              <div class="value">
                美国
                OR免税州
              </div>
            </td>
            <td>
              <div class="label">快递单号：</div>
              <div class="value">OTHER 12344566AAAA</div>
            </td>
            <td>
              <div class="label">货物数量：</div>
              <div class="value">23</div>
            </td>
            <td class="status">
              <div class="label">入库方式：</div>
              <div class="value">普通入库</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="detail_info_panel">
      <dl class="list_info">
        <dd>
          <div class="label">入库仓库</div>
          <div class="value">OR免税州</div>
        </dd>
        <dd>
          <div class="label">快递公司</div>
          <div class="value">OTHER</div>
        </dd>
        <dd>
          <div class="label">快递单号</div>
          <div class="value">12344566AAAA</div>
        </dd>
        <dd>
          <div class="label">货物概述</div>
          <div class="value">demo</div>
        </dd>
        <dd>
          <div class="label">入库重量</div>
          <div class="value">暂无</div>
        </dd>
      </dl>
      <dl class="chart_info" express_id="other" express_number="12344566AAAA">
        <dd class="one">提交入库&nbsp;<em>(2018-11-29 19:54:44)</em></dd>
      </dl>
    </div>
    <div class="common_panel">
      <div class="panel_header">快递单中货物信息</div>
      <div class="panel_content">
        <table class="common_list">
          <thead>
            <tr>
              <th width="35%">商品名称</th>
              <th width="20%">商品类别</th>
              <th width="10%">商品品牌</th>
              <th width="10%">商品型号</th>
              <th width="15%">商品单价</th>
              <th width="10%" class="last">商品数量</th>
            </tr>
          </thead>
          <tbody>
            <tr class="last">
              <td>童鞋</td>
              <td>母婴用品玩具 - 奶粉</td>
              <td>ads</td>
              <td>10</td>
              <td>USD 100.0</td>
              <td class="last">23</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="common_panel">
      <div class="panel_header">入库单增值服务</div>
      <div class="panel_content"><div class="empty">无增值服务</div></div>
    </div>
    <div class="common_panel">
      <div class="panel_header">备注信息</div>
      <div class="panel_content"><div class="text">dddd</div></div>
    </div>
  </div>
</div>
<!-- 查看快递信息 -->


    <!-- 底部 -->
    <footer style="clear:both;">
        <div class="con">
            <ul>
                <li class="l1">
                    <p>关注我们</p>
                    <a href="#"><img src="{IMG_PATH}logistics-233_80.jpg" alt="" /></a>
                    <a href="#"><img src="{IMG_PATH}logistics-233_78.jpg" alt="" /></a>
                    <a href="#"><img src="{IMG_PATH}logistics-233_84.jpg" alt="" /></a>
                    <a href="#"><img src="{IMG_PATH}logistics-233_82.jpg" alt="" /></a>
                    <a href="#"><img src="{IMG_PATH}logistics-233_86.jpg" alt="" /></a>
                </li>
                <li class="l2">
                    <p>联系我们</p>
                    <span class="p-li-first">CONTACT US</span>
                    <p class="p-li"><img src="{IMG_PATH}2_s35q.png" alt="" /><span>联系电话：400-000-0000 / 012345678</span></p>
                    <p class="p-li"><img src="{IMG_PATH}1_i9qh.png" alt="" /><span>企业邮箱：123@qq.com</span></p>
                    <p class="p-li"><img src="{IMG_PATH}3_gybl.png" alt="" /><span>公司传真：+86-12345678</span></p>
                    <p class="p-li"><img src="{IMG_PATH}4_dysi.png" alt="" /><span>公司地址：xx省xx市xx区xx路xx号​</span></p>
                </li>
                <li class="l3">
                    <p>较新资讯</p>
                    <span class="p-li-first">THE LATEST INFORMATION</span>
                    <p class="p-li"><span><a href="#">[自助服务] 国家邮政局：上半年快递服务满意度提升</a></span><span class="span-last">2017-11-26</span></p>
                    <p class="p-li"><span><a href="#">[自助服务] 国家邮政局关于2013年上半年邮政行业经济运行情况的通报</a></span><span class="span-last">2017-11-26</span></p>
                    <p class="p-li"><span><a href="#">[自助服务] 国家邮政局：上半年快递服务满意度提升</a></span><span class="span-last">2017-11-26</span></p>
                    <p class="p-li"><span><a href="#">[自助服务] 国家邮政局：上半年快递服务满意度提升</a></span><span class="span-last">2017-11-26</span></p>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">© 2011-2018 橙子家海外物流转运 京ICP备12000641号</div>
    </footer>
    <!-- /底部 -->



<script>
    $(document).ready(function(){
        $(".con_ul li").mouseenter(function(){
            $(this).addClass("active").siblings().removeClass("active");
        }).mouseout(function() {
            $(".active-jq").addClass("active ").siblings().removeClass("active");
        });
        $(".con_ul li").click(function(){
            $(this).addClass("active-jq").siblings().removeClass("active-jq");
        });
    });

</script>

</body>
</html>