<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>橙子家海外物流转运</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}login.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}account_manage.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}bodyStyle.css">
    <script type="text/javascript" src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}jquery.validate.zh.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
{template "member","banner"}