<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{L('member','','member').L('manage_center')}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}login.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}jquery.validate.zh.min.js"></script>

    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
{template "member","banner"}