<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{L('member').L('login')}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}login.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}jquery.validate.zh.min.js"></script>

    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
<style type="text/css">
  body { background-image:url('{IMG_PATH}/aa.jpg'); background-size:cover; }
</style>
 <!-- 头部 -->
 <body>

<!-- 登录表单 -->
<div id="content" style="margin-top: 100px;">
<div class="content_detail">
<form accept-charset="UTF-8" action="" id="aspnetForm" method="post" novalidate="novalidate">
	<input type="hidden" name="forward"  value="{$forward}">
	<input type="hidden" name="dosubmit"  value="{L('login')}">
    <div class="common_panel">
    <div class="panel_header">{L('member').L('login')}<span>（没有账号？ <a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a>）</span></div>
    <div class="panel_content">
    <table class="common_form">
      <tbody>
        <tr>
          <td class="label">{L('username')}</td>
          <td class="item"><input class="textbox" id="email" name="email" type="text" placeholder="请输入您的注册邮箱"></td>
          <!-- <p style="margin-left: 102px; position: relative; top: 75px;"><label for="email" class="error" style=""></label></p> -->
          <td class="info"></td>
        </tr>
        <tr>
          <td class="label">{L('password')}</td>
          <td class="item"><input class="textbox" id="password" name="password" type="password" placeholder="请输入您的密码"></td>
          <td class="info"></td>
        </tr>
         <tr>
          <td class="label">{L('checkcode')}</td>
          <td class="item"><input type="text" id="code" name="code" size="8" class="input-text textbox">{form::checkcode('code_img', '5', '14', 120, 26)}</td>
          <td class="info"></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="panel_footer">
      <div class="submit_button"><a href="javascript:__doPostBack(&#39;register_button&#39;, &#39;&#39;);" id="register_button">登录</a></div>
    </div>
  </div>
</form>
</div>
</div>
<!-- 登录表单 -->
<script>
        $(document).ready(function(){
            $(".con_ul li").mouseenter(function(){
                $(this).addClass("active").siblings().removeClass("active");
            }).mouseout(function() {
                $(".active-jq").addClass("active ").siblings().removeClass("active");
            });
            $(".con_ul li").click(function(){
                $(this).addClass("active-jq").siblings().removeClass("active-jq");
            });
        });

    </script>
    <script type="text/javascript">
      var theForm = document.forms['aspnetForm'];
      if (!theForm) {
          theForm = document.aspnetForm;
      }
      function __doPostBack(eventTarget, eventArgument) {
          if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
              theForm.__EVENTTARGET.value = eventTarget;
              theForm.__EVENTARGUMENT.value = eventArgument;
              theForm.submit();
          }
      }

      $(function(){
        $("#aspnetForm").validate({
          rules: {
            "email": {
              required: true,
              email: true
            },
            "password": {
              required: true,
              minlength: 6
            },
            "code": {
              required: true
            }
          }
        });
        $("#register_button").click(function () {
          if($("#aspnetForm").valid()){
            $(this).closest('form').submit();
          }
        });
      })
  </script>
