/*
* @Author: Marte
* @Date:   2018-12-23 16:18:50
* @Last Modified by:   Marte
* @Last Modified time: 2019-01-02 15:29:30
*/

header .container .con_top {
    background-color: rgba(246,170,0,1)!important;
}
#content .common_panel{
    background-color:rgba(246,170,0,0.6)!important;
}
#content .common_list thead{
    background-color:rgba(246,170,0,0.4)!important;
}
header .container .con_center ul .active {
    border-bottom: 3px solid rgba(246,170,0,1)!important;
}


//统一分页样式
.pages-pay-l { box-sizing: border-box; padding: 8px; margin: 0 auto; }
.pages-pay-l a { padding-right: 4px; }
.pages-pay-l span { padding:0 3px 0 3px; background-color: rgba(246,170,0,1); text-align:center; color:#fff; margin-right:2px; }

