    <!-- 头部 -->

<link rel="stylesheet" type="text/css" href="{CSS_PATH}bodyStyle.css">
<header>
    <div class="container">
        <div class="con_top">
            <p>
                <span>欢迎来到橙子家！</span>
                <img style="right: 285px;" src="{IMG_PATH}w_erwu.png" alt="">
                <span style="right: 185px;">18042697298</span>
                <img style="right: 135px;" src="{IMG_PATH}1_i9qh.png" alt="">
                <span >30177219@qq.com</span>
                <span><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></span>&nbsp;/&nbsp;<span><a href="/index.php?m=member&c=index&a=login">登录</a></span>
            </p>
        </div>
        <div class="con_center">
            <img class="wow fadeInLeft" src="{IMG_PATH}logo.ico" alt="" style="width: 5%;">
            <div class="wow fadeInLeft" onclick="location.href='/'">
                <p>橙子家海外物流转运</p>
                <p>The Orange</p>
            </div>
            {if count($CATEGORYS)>0}
                <ul id="navBar" class="con_ul wow fadeInRight">
                    <!--<li class="active active-jq"><a href="/index.php?">首页</a></li> -->
                    <li class="active active-jq" ><a href="/?">首页</a></li>
                    {loop $CATEGORYS $cate}
                    {if $cate['ismenu']=='1' && $cate['parentid']=='1'}
                    <li><a href="{$cate['url']}">{$cate['catname']}</a></li>
                    {/if}
                    {/loop}
                </ul>
            {/if}
        </div>
    </div>
</header>