    <!-- 头部 -->
<header>
    <div class="container">
        <div class="con_top">
            <p>
                <span>欢迎来到橙子家！</span>
                <img src="{IMG_PATH}w_erwu.png" alt="">
                <span>400-000-000</span>
                <img src="{IMG_PATH}1_i9qh.png" alt="">
                <span>xx@163.com</span>
                <span><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></span>&nbsp;/&nbsp;<span><a href="/index.php?m=member&c=index&a=login">登录</a></span>
            </p>
        </div>
        <div class="con_center">
            <img class="wow fadeInLeft" src="{IMG_PATH}logo.ico" alt="" style="width: 5%;">
            <div class="wow fadeInLeft">
                <p>橙子家海外物流转运</p>
                <p>The Orange</p>
            </div>
                <ul id="navBar" class="con_ul wow fadeInRight">
                    <!--<li class="active active-jq"><a href="/index.php?">首页</a></li> -->
                    <li ><a href="/?">首页</a></li>
                    <li><a href="/index.php?m=content&c=index&a=lists&catid=2">关于我们</a></li>
                    <li><a href="/index.php?m=express&c=index&a=init">我的转运</a></li>
                    <li><a href="#">产品与服务</a></li>
                    <li><a href="#">会员计划</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
        </div>
    </div>
</header>