    <!-- 服务热线 -->
    <div class="section_3">
        <div class="con wow fadeInUp" data-wow-delay="0.2s">
            <div class="con-left">
                <div>
                    <img src="{IMG_PATH}logistics-233_31.jpg" alt="">
                </div>
                <div>
                    <p>服务热线</p>
                    <p>18042697298</p>
                </div>
            </div>
            <div class="con-right">
                <p>专业客服高响应机制随时为您服务</p>
            </div>
        </div>
    </div>
    <!-- /服务热线 -->

    <!-- /单独图片 -->
    <!-- 服务流程 -->
    <div class="section_7">
        <p>服务流程</p>
        <p>SERVICE FLOW</p>
        <div></div>
        <div class="con">
            <ul class="wow fadeInRight" data-wow-delay="0.2s">
                <li>
                    <img src="{IMG_PATH}logistics-233_58.jpg" alt="" />
                    <p>网上购物</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_60.jpg" alt="" />
                    <p>填写包裹信息</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_62.jpg" alt="" />
                    <p>入库付款</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_64.jpg" alt="" />
                    <p>即日发货</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_66.jpg" alt="" />
                    <p>船期/航班货物跟踪</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_60.jpg" alt="" />
                    <p>海关清关</p>
                </li>
                <li class="con-li-bef">
                    <div></div>
                </li>
                <li>
                    <img src="{IMG_PATH}logistics-233_69.jpg" alt="" />
                    <p>送达</p>
                </li>
            </ul>
        </div>
    </div>
