<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}index.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}shutter.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="container">
            <div class="con_top">
                <p>
                    <span>欢迎来到橙子家！</span>
                    <img src="{IMG_PATH}w_erwu.png" alt="">
                    <span>400-000-000</span>
                    <img src="{IMG_PATH}1_i9qh.png" alt="">
                    <span>xx@163.com</span>
                    <span><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></span>/<span><a href="/index.php?m=member&c=index&a=login">登录</a></span>
                </p>
            </div>
            <div class="con_center">
                <img class="wow fadeInLeft" src="{IMG_PATH}logo.ico" alt="" style="width: 5%;">
                <div class="wow fadeInLeft">
                    <p>橙子家海外物流转运</p>
                    <p>The Orange</p>
                </div>
                    <ul id="navBar" class="con_ul wow fadeInRight">
                        <!--<li class="active active-jq"><a href="/index.php?">首页</a></li> -->
                        <li ><a href="/index.php?">首页</a></li>
                        <li><a href="/index.php?m=content&c=index&a=lists&catid=2">关于我们</a></li>
                        <li><a href="/index.php?m=express&c=index&a=init">我的转运</a></li>
                        <li><a href="#">产品与服务</a></li>
                        <li><a href="#">会员计划</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
            </div>
        </div>
    </header>