<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}index.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}shutter.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
<body>
{template "content","banner"}
    <!-- 轮播图 -->
    <div id="wrapper">
        <div class="shutter" style="min-width:1000px;overflow:hidden;">
            <div class="shutter-img"  style="min-width:1000px;overflow:hidden;">
              <a href="#" data-shutter-title="Iron Man"   ><img src="{IMG_PATH}aa.jpg" alt="#" ></a>
              <a href="#" data-shutter-title="Super Man" ><img src="{IMG_PATH}aaa.jpg" alt="#" ></a>
            </div>
            <ul class="shutter-btn">
              <li class="prev" style="display: none;"></li>
              <li class="next" style="display: none;"></li>
            </ul>
        </div>

    <!-- banner-bottom三块信息 -->
        <div class="banner-bottom">
            <div class="container">
                <div>
                    <img src="{IMG_PATH}abcd.png" alt="">
                    <p>更快捷</p>
                    <span>急速原箱转运，即时出库发货<br>全程最快只需4天</span>
                </div>
                <div>
                    <img src="{IMG_PATH}abcd.png" alt="">
                    <p>更多样</p>
                    <span>多种会员模式，适合不一样的你<br>为您提供最优性价比的服务</span>
                </div>
                <div>
                    <img src="{IMG_PATH}abcd.png" alt="">
                    <p>更安全</p>
                    <span>全程包裹物流跟踪，一对一客服专线<br>让你“种草”无忧无虑</span>
                </div>
            </div>
        </div>
    <!-- /banner-bottom三块信息 -->
    <!-- banner-center中间部分 -->
    <div class="ban-center">
        <div class="con">
            <p class="wow fadeInUp" style="color:rgb(66,101,167);" data-wow-delay="0s">橙风破浪 快你所想</p>
            <p class="wow fadeInUp" style="color:rgb(66,101,167);" data-wow-delay="0s">让你和世界上的好东西距离更近</p>
            <a href="/index.php?m=member&c=index&a=login"><span class="wow fadeInLeft" data-wow-delay="0s">立即登录</span></a>
            <a href="/index.php?m=member&c=index&a=register"><span class="wow fadeInRight" data-wow-delay="0s">在线注册</span></a>
        </div>
    </div>
    <!-- /banner-center中间部分 -->
    </div>
    <!-- /轮播图 -->
    <!-- 我们的服务 -->
    <div class="section_1">
        <p>我们的服务</p>
        <p>OUR SERVICE</p>
        <div></div>
        <ul>
            <li class="wow fadeInLeft" data-wow-delay="0s">
                <p class="sec1-p">物流空运</p>
            </li>
            <li class="wow fadeInLeft" data-wow-delay="0.2s">
                <p class="sec1-p">及时达</p>
            </li>
            <li class="wow fadeInLeft" data-wow-delay="0.4s">
                <p class="sec1-p">超级会员</p>
            </li>
            <li class="wow fadeInLeft" data-wow-delay="0.6s">
                <p class="sec1-p">会员升级</p>
            </li>
            <li class="wow fadeInLeft" data-wow-delay="0.8s">
                <p class="sec1-p">客服专线</p>
            </li>
            <li class="wow fadeInLeft" data-wow-delay="1s">
                <p class="sec1-p">物流更新</p>
            </li>
        </ul>
        <a href="/index.php?m=content&c=index&a=lists&catid=9"><div>READ MORE</div></a>
    </div>
    <!-- /我们的服务 -->

{template "content","fuwu"}
{template "content","footer"}