<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}address.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}inbound.css">
    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
{if $_userid && $_username }
{template 'member', 'banner'}
{else}
{template 'content', 'banner'}
{/if}

<div id="content">
  <div class="content_detail">
    <div class="common_panel">
      <div class="panel_header">{$title}</div>
      <div class="panel_content" style="padding:5px 10px; overflow-x: hidden; overflow-y: auto;">
      {$content}
        </div>
  </div>

  </div>
</div>

{template "content","footer"}