{template 'express', 'header'}
<div id="memberArea">
{template 'express', 'left'}
<div class="col-auto">
	<div class="col-1 ">
		<h5 class="title">检索入库记录</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
<form name="searchform" action="" method="get" >
    <input type="hidden" value="express" name="m">
    <input type="hidden" value="index" name="c">
    <input type="hidden" value="all_express" name="a">
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
        <tr>
        <td>
        <div class="explain-col">
                <span>海外快递单号</span>
                <input name="expressno" type="text" value="{$expressno}" class="input-text" />
                <input type="submit" name="search" class="button" value="搜索" />
                <input type="submit" name="clear" class="button" value="清空" />
    </div>
        </td>
        </tr>
    </tbody>
</table>
</form>
		</div>
	</div>
	</div>
	</div>



	<div class="col-1 ">
		<h5 class="title">全部入库记录</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table width="100%" cellspacing="0"  class="table-list">
			<thead>
			    <tr>
			    <th width="15%">入库仓库</th>
			    <th width="20%">快递单号</th>
			    <th width="15%">货物概述</th>
			    <th width="8%">快递公司</th>
			    <th width="15%">当前状态</th>
			    <th width="15%">入库时间</th>
			    <th width="8%">重量</th>
			    </tr>
			</thead>
		    <tbody>
			{loop $list $info}
			<tr>
			<td width="15%" align="center">{$store[$info['storeid']]['name']}</td>
            <td  width="20%" align="center"><a style="color:blue" target="_blank" href="index.php?m=express&c=index&a=detail&id={$info['id']}&t=3">{$info['expressno']}</a></td>
			<td width="15%" align="center">{$info['detail']}</td>
			<td width="8%" align="center">{$info['company']}</td>
			<td width="15%" align="center">{if in_array($info['status'], [0,1])}新创建{elseif $info['status']==2}已入库待出库{elseif $info['status']==3}已出库{/if}</td>
			<td width="15%" align="center">{format::date($info['createtime'], 1)}</td>
			<td width="8%" align="center">{$info['weight']}</td>
			</tr>
			{/loop}
		    </tbody>
		    </table>
            <div id="pages"> {$pages}</div>
		</div>
	</div>
	</div>
	</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}
