<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{L('member','','member').L('manage_center')}</title>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}animate.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}detail.css">

    <script src="{JS_PATH}jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}jquery.validate.zh.min.js"></script>
    <script src="{JS_PATH}common.js"></script>
	
    <script type="text/javascript" src="{JS_PATH}wow.min.js"></script>
</head>
{template 'member', 'banner'}

<!-- 查看快递信息 -->
<div id="content" style="margin-top: 50px;">
  <div class="content_detail">
    <div class="header_intro_panel">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="label">入库仓库：</div>
              <div class="value">
                {$express['storeid']}
              </div>
            </td>
            <td>
              <div class="label">快递单号：</div>
              <div class="value">{$express['expressno']}</div>
            </td>
            <td>
              <div class="label">货物数量：</div>
              <div class="value">{$goods_num}</div>
            </td>
            <td class="status">
              <div class="label">入库方式：</div>
              <div class="value">{$express_mode}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="detail_info_panel">
      <dl class="list_info">
        <dd>
          <div class="label">入库仓库</div>
          <div class="value">{$express['storeid']}</div>
        </dd>
        <dd>
          <div class="label">快递公司</div>
          <div class="value">{$express['company']}</div>
        </dd>
        <dd>
          <div class="label">快递单号</div>
          <div class="value">{$express['expressno']}</div>
        </dd>
        <dd>
          <div class="label">货物概述</div>
          <div class="value">{$express['detail']}</div>
        </dd>
        <dd>
          <div class="label">入库重量</div>
          <div class="value">{$express['weight']}</div>
        </dd>
      </dl>
      {if $express['status']}
      <dl class="chart_info" express_id="other" express_number="12344566AAAA">
        <dd class="one">提交入库&nbsp;<em>({format::date($express['createtime'], 1)})</em></dd>
      </dl>
      {/if}
    </div>
    <div class="common_panel">
      <div class="panel_header">快递单中货物信息</div>
      <div class="panel_content">
        <table class="common_list">
          <thead>
            <tr>
              <th width="35%">商品名称</th>
              <th width="20%">商品类别</th>
              <th width="10%">商品品牌</th>
              <th width="10%">商品型号</th>
              <th width="15%">商品单价</th>
              <th width="10%" class="last">商品数量</th>
            </tr>
          </thead>
          <tbody>
          	{loop $goods $good}
            <tr class="last">
            	<td >{$good['goodsname']}</td>
            <td  >{$good['pcategory']} - {$good['scategory']}</td>
			<td>{$good['productname']}</td>
			<td >{$good['goodsmodel']}</td>
			<td>{$good['uprice']}</td>
			<td class="last">{$good['num']}</td>
            </tr>
            {/loop}
          </tbody>
        </table>
      </div>
    </div>
    <div class="common_panel">
      <div class="panel_header">入库单增值服务</div>
      <div class="panel_content">
        <table class="common_list">
          <thead>
              <tr>
                <th width="20%">增值服务名称</th>
                <th class="last">增值服务内容及完成情况</th>
              </tr>
            </thead>
            <tbody>
            	{loop $service_arr $service}
              <tr class="last">
                <td>{$service['name']}</td>
                <td class="last">{$service['desc']}</td>
              </tr>
              {/loop}
          </tbody>
        </table>
      </div>
    </div>
    <div class="common_panel">
      <div class="panel_header">备注信息</div>
      <div class="panel_content"><div class="text">{$express['user_remark']}</div></div>
    </div>
  </div>
</div>
<!-- 查看快递信息 -->


{template 'member', 'footer'}