{template 'express', 'header'}
<div id="memberArea">
{template 'express', 'left'}
<div class="col-auto">
	<div class="col-1 ">
		<h5 class="title">等待入库</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table width="100%" cellspacing="0"  class="table-list">
			<thead>
			    <tr>
			    <th width="8%">仓库</th>
			    <th width="20%">快递单号</th>
			    <th width="15%">货物概述</th>
			    <th width="15%">入库时间</th>
			    <th width="8%">操作</th>
			    </tr>
			</thead>
		    <tbody>
			{loop $list_wait $info}
			<tr>
			<td width="8%" align="center">{$info['storeid']}</td>
            <td  width="20%" align="center"><a style="color:blue" target="blank" href="index.php?m=express&c=index&a=detail&id={$info['id']}&t=3">{$info['expressno']}</a></td>
			<td width="15%" align="center">{$info['detail']}</td>
			<td width="15%" align="center">{format::date($info['createtime'], 1)}</td>
            <td width="8%" align="center">{if $info['status']==0}<a style="" target="blank" href="index.php?m=express&c=index&a=edit&id={$info['id']}&t=3">完善信息</a>{/if} &nbsp;&nbsp;<a href="index.php?m=express&c=index&a=delete&id={$info['id']}&t=3">删除</a></td>
			</tr>
			{/loop}
		    </tbody>
		    </table>
		</div>
	</div>
	</div>
	</div>
	<div class="col-1 ">
		<h5 class="title">当前库存</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
            <div><a href="index.php?m=express&c=index&a=all_express" target="blank">全部货物入库记录</a></div>
             {if empty($list_in_store)}
             <div style="padding:30px;">目前仓库中没有货物</div>
             {else}
             <table width="100%" cellspacing="0"  class="table-list">
                 <thead>
                     <tr>
                         <th width="8%">仓库</th>
                         <th width="20%">快递单号</th>
                         <th width="15%">货物概述</th>
                         <th width="15%">入库时间</th>
                         <th width="15%">入库重量</th>
                     </tr>
                 </thead>
                 <tbody>
                {loop $list_in_store $info}
                <tr>
                    <td width="8%" align="center">{$info['storeid']}</td>
                    <td  width="20%" align="center">{$info['expressno']}</td>
                    <td width="15%" align="center">{$info['detail']}</td>
                    <td width="15%" align="center">{format::date($info['in_store_time'], 1)}</td>
                    <td width="15%" align="center">{$info['weight']}</td>
                </tr>
                {/loop}
            </tbody>
        </table>
             {/if}
		</div>
	</div>
	</div>
	</div>
	<div class="col-1 ">
		<h5 class="title">已出库货物</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
            <div><a href="" target="blank">全部货物转运记录</a></div>
            {if empty($list_out_store)}
                <div style="padding:30px;">目前没有出库的货物</div>
            {else}
            <table width="100%" cellspacing="0"  class="table-list">
                <thead>
                    <tr>
                        <th width="8%">仓库</th>
                        <th width="20%">快递单号</th>
                        <th width="15%">货物概述</th>
                        <th width="15%">入库时间</th>
                        <th width="15%">出库时间</th>
                        <th width="8%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $list_out_store $info}
                    <tr>
                        <td width="8%" align="center">{$info['storeid']}</td>
                        <td  width="20%" align="center">{$info['expressno']}</td>
                        <td width="15%" align="center">{$info['detail']}</td>
                        <td width="15%" align="center">{format::date($info['in_store_time'], 1)}</td>
                        <td width="15%" align="center">{format::date($info['out_store_time'], 1)}</td>
                        <td width="15%" align="center">{$info['weight']}</td>
                    </tr>
                    {/loop}
                </tbody>
            </table>

            {/if}
		<div id="pages"> {$pages}</div>
		</div>
	</div>
	</div>
	</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}
