{template 'express', 'header'}
<div id="memberArea">
{template 'express', 'left'}
<div class="col-auto">
	<div class="col-1 ">
		<h5 class="title">等待入库</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table width="100%" cellspacing="0"  class="table-list">
			<thead>
			    <tr>
			    <th width="8%">仓库</th>
			    <th width="20%">快递单号</th>
			    <th width="15%">货物概述</th>
			    <th width="15%">入库时间</th>
			    <th width="8%">操作</th>
			    </tr>
			</thead>
		    <tbody>
			{loop $list $info}
			<tr>
			<td width="8%" align="center">{$info['msg']}</td>
			<td  width="20%" align="center">{format::date($info['creat_at'], 1)}</td>
			<td width="15%" align="center">{if $info[type]==1}金钱{elseif $info[type]==2}积分{/if}</td>
			<td width="15%" align="center">{$info['value']}</td>
			<td width="8%" align="center">{$info['value']}</td>
			</tr>
			{/loop}
		    </tbody>
		    </table>
		<div id="pages"> {$pages}</div>
		</div>
	</div>

	<div class="bk10"></div>	
	<div class="col-1 ">
		<h5 class="title">当前库存</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table width="100%" cellspacing="0"  class="table-list">
			<thead>
			    <tr>
			    <th width="8%">仓库</th>
			    <th width="20%">快递单号</th>
			    <th width="15%">货物概述</th>
			    <th width="15%">入库时间</th>
			    <th width="8%">操作</th>
			    </tr>
			</thead>
		    <tbody>
			{loop $list $info}
			<tr>
			<td width="8%" align="center">{$info['msg']}</td>
			<td  width="20%" align="center">{format::date($info['creat_at'], 1)}</td>
			<td width="15%" align="center">{if $info[type]==1}金钱{elseif $info[type]==2}积分{/if}</td>
			<td width="15%" align="center">{$info['value']}</td>
			<td width="8%" align="center">{$info['value']}</td>
			</tr>
			{/loop}
		    </tbody>
		    </table>
		<div id="pages"> {$pages}</div>
		</div>
	</div>

	<div class="bk10"></div>	
	<div class="col-1 ">
		<h5 class="title">已出库货物</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table width="100%" cellspacing="0"  class="table-list">
			<thead>
			    <tr>
			    <th width="8%">仓库</th>
			    <th width="20%">快递单号</th>
			    <th width="15%">货物概述</th>
			    <th width="15%">入库时间</th>
			    <th width="8%">操作</th>
			    </tr>
			</thead>
		    <tbody>
			{loop $list $info}
			<tr>
			<td width="8%" align="center">{$info['msg']}</td>
			<td  width="20%" align="center">{format::date($info['creat_at'], 1)}</td>
			<td width="15%" align="center">{if $info[type]==1}金钱{elseif $info[type]==2}积分{/if}</td>
			<td width="15%" align="center">{$info['value']}</td>
			<td width="8%" align="center">{$info['value']}</td>
			</tr>
			{/loop}
		    </tbody>
		    </table>
		<div id="pages"> {$pages}</div>
		</div>
	</div>

	<div class="bk10"></div>	
</div>
</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}
