{template 'express', 'header'}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="JavaScript">
</script>
<div id="memberArea">
	{template 'express', 'left'}
	<div class="col-auto">
		<form method="post" action="" id="myform" name="myform">
		<div class="col-1 ">
		<h5 class="title">选择增值服务</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
		<table class="table-list">
			<thead>
			    <tr>
			    <th></th>
			    <th>增值服务名称</th>
			    <th>增值服务介绍及收费</th>
			    </tr>
			</thead>
		    <tbody>
            {loop $service_info $info}
			<tr>
                <td align="center"><input id="service" name="service[]" can_merge="{$info['can_merge']}" value="{$info['value']}" type="checkbox" class="input-text"></td>
            <td align="center">{$info['name']}</td>
            <td align="center">{$info['desc']}{if isset($info['price_desc'])} {$info['price_desc']} {/if}<td>
			</tr>
            {/loop}
		    </tbody>
		    </table>
		</div>
	</div>
	</div>
	</div>
		<div class="col-1 ">
			<h5 class="title">填写备注信息</h5>           
			<div class="content">			
				<table width="100%" cellspacing="0" class="table_form">
					<tr>
						<th width="100">备注信息</th> 
						<td><input id="remark" name="remarks" value="" type="text" class="input-text" size="30"></td>
					</tr>
				</table>
			</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
		</div>
        <input name="set_service" type="hidden" value="service">
	<div><input name="dosubmit" type="submit" id="dosubmit" value="完成" class="button"></div>
	</form>
	</div>
</div>
<div class="clear"></div>
{template 'express', 'footer'}
